@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url('/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: Lexend-light;
  src: url(/Lexend/static/Lexend-Light.ttf);
}

@font-face {
  font-family: Lexend-medium;
  src: url(/Lexend/static/Lexend-Medium.ttf);
}

@font-face {
  font-family: Lexend-bold;
  src: url(/Lexend/static/Lexend-Bold.ttf);
}

@font-face {
  font-family: Lexend-extrabold;
  src: url(/Lexend/static/Lexend-ExtraBold.ttf);
}

@font-face {
  font-family: Roboto-normal;
  src: url(/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(/Roboto/Roboto-light.ttf);
}

html {
  font-family: 'Lexend-light';
  scroll-behavior: smooth;
}

  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background: #b5b5b5de;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 0px solid transparent;
    background-clip: padding-box;
}

#hamburger {
  width: 30px;
  height: 2px;
  
  border-radius: 5px;
  transition: all 0.3s ease;
}

#hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  transition: all 0.3s ease;

}

#hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  
  border-radius: 5px;
  transition: all 0.3s ease;
  
}

#instagram:hover {
  color: #e1306c;
}

#facebook:hover {
  color: #4f77cc;
}

#github:hover {
  color: rgb(163, 163, 163);
}

.btn {
    border-radius: 17px;
    padding: 14px 47px 14px 55px;
    box-shadow: inset 0px 0px 0px 0px #00000040, 0px 4px 12px 0px #00000040;
    background: #D9D9D905;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    gap: 10%;
}
.btn:hover {
    margin-top: 3px;
    margin-bottom: -3px;
    cursor: pointer;
    box-shadow: inset 0px 3px 6px 0px #00000040, 0px 0px 0px 0px #00000040;
}