@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url('/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: Roboto-normal;
  src: url(/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(/Roboto/Roboto-light.ttf);
}

html {
  font-family: 'Lexend';
  scroll-behavior: smooth;
}

  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background: #b5b5b5de;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 0px solid transparent;
    background-clip: padding-box;
}
